* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color:  rgb(0, 0, 0);
  color: rgba(255, 217, 0, 0.804);
}
.container {
  width: 100%;
  max-width: 1600px;
  /* padding: 20px; */
  margin: 0 auto;
  background-color: rgb(0, 0, 0);

  @media only screen and (min-width: 1600px) {
    border-right: 1px solid rgb(20, 20, 20);
    border-left: 1px solid rgb(20, 20, 20);
  }
}

.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__container .logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  padding-left: 20px;
  display: block;
  cursor: pointer;
}
.navbar__container nav {
  font-family: "Cinzel", serif;
  width: 70%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.navbar__container nav a {
  /* color: rgb(184, 115, 51); */
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.navbar__container nav a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 217, 0, 0.804);
  border-radius: 10px;
}

.hero__container {
  background-image: url(./assets/Hero.jpg);
  background-size: cover;
  background-position: center -120px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 100px;
  padding-left: 100px;
}

.hero__container h1 {
  font-family: "Cinzel", serif;
  font-size: 50px;
  padding-bottom: 20px;
}

.hero__container p {
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 400;
}

.about__container {
  padding: 30px 20px 20px 20px;
  background-color: #000;
  /* color: rgb(184, 115, 51); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__container h2 {
  font-family: "Cinzel", serif;
  margin-bottom: 40px;
  font-size: 40px;
}

.about__container .about__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.about__container .about__box img {
  width: 40%;
}
.about__container .about__box .about__text {
  width: 40%;
  text-align: justify;
  font-size: 20px;
  line-height: 2;
  /* color: rgb(184, 115, 51); */
}

.events__container {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px 20px;
}

.events__container h2 {
  font-family: "Cinzel", serif;
  margin-bottom: 40px;
  font-size: 40px;
}

.events__container .events__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.events__container .events__row .events__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.events__container .events__row .events__col img {
  width: 100%;
  height: auto;
  max-height: 230px;
  margin-bottom: 5px;
}

.events__container .events__row .events__col p {
  text-align: justify;
  line-height: 2;
  padding-inline: 25px;
}
.contact__container {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px 20px;
}

.contact__container h2 {
  font-family: "Cinzel", serif;
  margin-bottom: 40px;
  font-size: 40px;
}
.contact__container .contact__box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 40px;
}

.contact__container .contact__box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.contact__container .contact__box form input {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: rgba(255, 217, 0, 0.804);
  padding-left: 15px;
  font-size: 16px;
}

.contact__container .contact__box form textarea {
  background-color: #000;
  color: rgba(255, 217, 0, 0.804);
  padding: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact__container .contact__box form input::placeholder,
.contact__container .contact__box form textarea::placeholder {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 10px;
  color: rgba(255, 217, 0, 0.804);
}

.contact__container .contact__box form button {
  padding: 10px 20px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 217, 0, 0.804);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.contact__container .contact__box form button:hover {
  scale: 1.05;
}

.footer__container {
  border-top: 1px solid rgba(255, 217, 0, 0.804);
  width: 100%;
  background-color: #000;
  padding: 20px 10px 20px 10px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container .logo {
  padding-top: 10px;
  width: 100%;
  max-width: 150px;
  height: auto;
  padding-left: 20px;
  cursor: pointer;
}
